<div class="container ">
<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Task</th>
    <th scope="col">Description</th>
    <th scope="col">Date</th>
    <th scope="col">Done</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let t of todo">
    <th scope="row">{{t.id}}</th>
    <td>{{t.task}}</td>
    <td>{{t.description}}</td>
    <td>@{{t.date}}</td>
    <td>@{{t.done}}</td>
    <td><button class="btn btn-danger" type="submit" (click)="deleteTodo(t.id)" >Delete todo</button></td>

  </tr>

  </tbody>
</table>
</div>

<div class="container ">
<button class="btn btn-success " type="submit" (click)="showaddTodo()">Add todo</button>
<div *ngIf="show" >
  <h3>Add Todo</h3>
  <form (ngSubmit)="addTodo()">


      <label>Task</label>
      <input type="text" class="form-control col-md-4" id="Task" name="Task" [(ngModel)]="to.task">

    <label>Description</label>
      <input type="text" class="form-control col-md-4" id="Description" name="Description" [(ngModel)]="to.description">


      <label>Date</label>
      <input type="date"class="form-control col-md-4" id="Date" name="Date" [(ngModel)]="to.date">

      <label>Done
      <input type="checkbox" id="Done" name="Done" [(ngModel)]="to.done">
      </label>

    <button class="btn btn-success col-md-2" type="submit" >Add</button>
  </form>
</div>
</div>
