<div class="container ">
<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Task</th>
    <th scope="col">Description</th>
    <th scope="col">Date</th>
    <th scope="col">Done</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let t of todo">
    <th scope="row">{{t.id}}</th>
    <td>{{t.task}}</td>
    <td>{{t.description}}</td>
    <td>@{{t.date}}</td>
    <td>@{{t.done}}</td>
  </tr>

  </tbody>
</table>
</div>

<button (click)="showaddTodo()">Add todo</button>
<div *ngIf="show" class="container ">
  <h3>Add Todo</h3>
  <form (ngSubmit)="addTodo()">


      <label>Task</label>
      <input type="text" class="form-control" id="Task" name="Task" [(ngModel)]="to.task">

      <label>Description</label>
      <input type="text" class="form-control" id="Description" name="Description" [(ngModel)]="to.description">


      <label>Date</label>
      <input type="date" id="Date" name="Date" [(ngModel)]="to.date">

      <label>Done</label>
      <input type="checkbox"id="Done" name="Done" [(ngModel)]="to.done">

    <button class="btn btn-success " type="submit">Add</button>
  </form>
</div>

